#################################################
# Power Platform / Power Apps
#################################################

# Backup files
*.bak

# Temporary files
*.tmp
*.temp

# Log files
*.log

#################################################
# Visual Studio
#################################################

.vs/
bin/
obj/

*.user
*.suo
*.userosscache
*.sln.docstates

#################################################
# VS Code
#################################################

.vscode/

#################################################
# JetBrains IDEs
#################################################

.idea/

#################################################
# Windows
#################################################

Thumbs.db
Desktop.ini

#################################################
# macOS
#################################################

.DS_Store

#################################################
# Git
#################################################

*.orig

#################################################
# Node (if used later)
#################################################

node_modules/

#################################################
# Power Platform CLI
#################################################

*.cdsproj.user

#################################################
# Temporary publish artifacts
#################################################

publish/

#################################################
# Test Results
#################################################

TestResults/

#################################################
# Package caches
#################################################

packages/

#################################################
# Environment files
#################################################

.env
.env.*

#################################################
# Azure
#################################################

.azure/

#################################################
# PowerShell
#################################################

*.ps1xml